
/.vs

/Events.Application/bin
/Events.Application/obj

/Events.Domain/bin
/Events.Domain/obj

/Events.Infra.Data/bin
/Events.Infra.Data/obj

/Events.Infra.CrossCutting.IoC/bin
/Events.Infra.CrossCutting.IoC/obj

/Events.Api/obj
/Events.Api/bin
